html
    head
        script(type="text/javascript" src="/lodash/lodash.js")
        script(type="text/javascript" src="/vis/dist/vis.js")
        script(type="text/javascript" src="axios/dist/axios.js")
        script(type="text/javascript" src="/jquery/dist/jquery.js")
        script(type="text/javascript" src="/lib/hex-to-hsl.js")
        link(href="/vis/dist/vis.css" rel="stylesheet" type="text/css")
        link(href="/stylesheets/side-info.css" rel="stylesheet")
    body
        aside
            .group-information-title Group Information
            .group-information-contents
                .representative-thesis
                    .middle-title Representative Thesis
                    .thesis-info Title
                    .thesis-title-content
                    .thesis-info Author
                    .thesis-author-content
                    .thesis-info Paper Keyword
                    .thesis-paper-keyword-content

                .group-keyword
                    .middle-title Group Keyword
                    //.keyword-unit
                    //    .keyword LimSuHyun
                    //    .bar-graph-zone
                    //        .bar-graph#bar-graph-1
                    //    .count 10회
                    //.keyword-unit
                    //    .keyword YoonTaeRin
                    //    .bar-graph-zone
                    //        .bar-graph#bar-graph-2
                    //    .count 5회
                .group-network
                    .middle-title Group Network
                    #mynetwork
        script(type="text/javascript" src="/javascripts/side-info/representative-thesis.js")
        script(type="text/javascript" src="/javascripts/side-info/group-keyword.js")
        script(type="text/javascript" src="/javascripts/side-info/group-network.js")
        script(type="text/javascript" src="/javascripts/side-info/side-info.js")

        //script(type="text/javascript" src="/javascripts/basic-network-example.js")
